html {
  font-family: sans-serif;
}

/* Your CSS below here */
p{
  margin: auto;
  padding: auto;
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 1.1rem;
  color: white;
  line-height: 2.8em;
  /* because default font-size 16px */
  background-color: blue;
  text-shadow: 1.2px 1.2px 1.2px black;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 200);
  background-image: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,0.2) 30%, rgba(0,0,0,0.2));
  box-shadow: inset 2px 2px 3px rgba(255,255,255,0.6),
              inset -2px -2px 3px rgba(0,0,0,0.6),
              2px 2px 5px black;
}